body {
	background-color: #fff7ed;
	color: #949494;
	font: normal 12px Arial, Helvetica, sans-serif;
	line-height: 1.6em;
	margin: 0;
}

.title {
	/* padding: 300px;
	padding-bottom: 0px; */
	text-align:center;
	margin: 21% 25%;
	color: #949494;
	font: bold 16px "Lucida Console", "Courier New", monospace;
}

a {
	text-decoration: none;
	color: #949494;
}

a:hover {
	color: #737373;
}

.loading {
	display: flex;
	text-align:center;
	color: #949494;
	font: bold 18px "Lucida Console", "Courier New", monospace;
	/* Animation */
	overflow: hidden;
	border-right: .15em solid;
	white-space: nowrap;
	margin-left: 43.5%;
	margin-right: 43.5%;
	letter-spacing: .15em;
	animation: typing 5s steps(14, end), blink-caret .357s step-end infinite;
}

@keyframes typing {
	from { width: 0px } to { width: 187px }
}
  
@keyframes blink-caret {
	from, to { border-color: transparent } 50% { border-color: #949494; }
}