body{
	/* background-color: #e8e8e1; */
	/* color: #1f1f1f; */
	background-color: #cfbfa9;
	color: #404040;

	font-family: Arial, Helvetica, sans-serif
	font-size: 12px;
	font-weight: normal;
	/* Same as above */
	font: normal 12px Arial, Helvetica, sans-serif;

	line-height: 1.6em;
	margin: 0;
}

.title{
	padding: 350px 0;
	text-align:center;
	color: #404040;
	font: bold 32px "Lucida Console", "Courier New", monospace;
}

.fix-me{
	position: fixed;
	top:300px;
}

a{
	text-decoration: none;
	color: #404040;
}

a:hover{
	/* color: #ffb921; */
	color: #ffb20a;
}

/* a:visited{
	color: #2e2e2e;
} */