body {
	background-color: #fff7ed;
	color: #949494;
	font: normal 16px Arial, Helvetica, sans-serif;
	text-align:center;
	/* line-height: 1.6em; */
	/* margin: 0; */
}

.title {
	text-align:center;
	color: #949494;
	font: bold 16px "Lucida Console", "Courier New", monospace;
	margin: 21% 20% 0;
}

a {
	text-decoration: none;
	color: #949494;
}

a:hover {
	color: #737373;
}

.loading {
	text-align:center;
	color: #949494;
	font: bold 18px "Lucida Console", "Courier New", monospace;
	/* Animation */
	/* display: flex; */
	/* overflow: hidden;
	border-right: .18em solid;
	white-space: nowrap;
	margin-left: 43.5%;
	margin-right: 43.5%;
	letter-spacing: .15em;
	animation-fill-mode: forwards;
	animation: typing 5s steps(14, end), blink-caret .357s step-end infinite;
	animation: typing 5s steps(14, end), blink-caret .357s step-end infinite, 
		hold 5s linear 5s infinite; */
}

@keyframes typing {
	from { width: 0px } to { width: 187px }
}
  
@keyframes blink-caret {
	from, to { border-color: transparent } 50% { border-color: #949494; }
}

@keyframes hold {
	from { min-width: 187px } to { min-width: 187px };
}